body {
       
background: rgb(136, 160, 230);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #bae9f7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.select-style {
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 20px;
  background: #fafafa  no-repeat 90% 50%;
  text-align: center;
}

.select-style select {
  padding: 14px 14px;
  width: 130%;
  font-size: 20px;
  border: none;
  box-shadow: none;
  background: rgb(214, 152, 16);
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

.select-style option{
  font-size: 20px;
}


.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #ec9090;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #055690;
  color: white;
}

button {
  background-color: lightgreen;
  width: 140px;
  height: 35px;
  font-size: 16px;
}

input{
  width: 170px;
  height: 30px;
  font-size: 16px;
  margin-right: 10px;
}
label{
  margin-left: 40px;
  margin-right: 10px;
}